.gradle
**/out/
.idea
build/
*.iml
*.swp
dev/
docker-sources/
# This repo uses a hermit-managed gradle, so we don't want any gradle wrapper files checked in.
/gradlew
/gradlew.bat
/gradle/wrapper/
/.hermit
local.properties
